<!DOCTYPE html>
<html>
<head>
    <title>Список дел на сегодня</title>
</head>
<body>
<h3>Новое задание</h3>
{% if is_edit %}
    <form action="" method="post">
        <input type="text" name="description" placeholder="Описание задачи"/>
        <input type="submit" name="edit" value="Изменить описание"/>
    </form>
{% else %}
    <form action="" method="post">
        <input type="text" name="description" placeholder="Описание задачи"/>
        <input type="submit" name="add" value="Добавить"/>
    </form>
{% endif %}
<form action="" method="post">
    <label>
        Сортировать по:
        <select name="sort_by">
            <option value="date_added"{% if order_field == 'date_added' %} selected="selected"{% endif %}>
                Дате добавления
            </option>
            <option value="is_done"{% if order_field == 'is_done' %} selected="selected"{% endif %}>
                Статусу
            </option>
            <option value="description"{% if order_field =='description' %} selected="selected"{% endif %}>
                Описанию
            </option>
        </select>
        <input type="submit" name="sort" value="Сортировать">
    </label>
</form>
<br/>
<br/>
<br/>
<h1> Мои задачи</h1>
<table border="1">
    <tr>
        <th>Описание задачи</th>
        <th>Дата добавления</th>
        <th>Статус</th>
        <th></th>
        <th>Ответственный</th>
        <th>Автор</th>
        <th>Закрепить задачу за пользователем</th>
    </tr>
    {% for data in tabledata %}
        <tr>
            <td>{{ data.description|e }}</td>
            <td>{{ data.date_added|e }}</td>
            <td>{{ data.is_done|e }}</td>
            <td>
                <a href="?action=edit&amp;id={{ data.id }}">Изменить</a>
                {% if not data.is_done %}
                    <a href="?action=complete&amp;id={{ data.id }}">Выполнить</a>
                {% endif %}
                <a href="?action=delete&amp;id={{ data.id }}">Удалить</a></td>
            <td>{{ data.assigned_user_login }}</td>
            <td>{{ data.user_login }}</td>
            <td>
                <form method="post" action="?action=assign&amp;id={{ data.id }}">
                    <select name="assigned_user_id">
                        {% for user in allusers %}
                            <option value="{{ user.id }}">{{ user.login }}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" name="assign" value="Назначить ответственного">
                </form>
            </td>
        </tr>
    {% endfor %}
</table>

<h1>
    Назначенные задачи
</h1>
<table border="1">
    <tr>
        <th>Описание задачи</th>
        <th>Дата добавления</th>
        <th>Статус</th>
        <th></th>
        <th>Ответственный</th>
        <th>Автор</th>
        <th>Закрепить задачу за пользователем</th>
    </tr>
    {% for data in assigned_data %}
        <tr>
            <td>{{ data.description }}</td>
            <td>{{ data.date_added }}</td>
            <td>{{ statuses[data.is_done] }}</td>
            <td>
                <a href="?action=edit&amp;id={{ data.id }}">Изменить</a>
                {% if not data.is_done %}
                    <a href="?action=complete&amp;id={{ data.id }}">Выполнить</a>
                {% endif %}
                <a href="?action=delete&amp;id={{ data.id }}">Удалить</a></td>
            <td>{{ data.assigned_user_login }}</td>
            <td>{{ data.user_login }}</td>
            <td>
                <form method="post" action="?action=assign&amp;id={{ data.id }}">
                    <select name="assigned_user_id">
                        {% for user in allusers %}
                            <option value="{{ user.id }}">{{ user.login }} </option>
                        {% endfor %}
                    </select>
                    <input type="submit" name="assign" value="Назначить ответственного">
                </form>
            </td>
        </tr>
    {% endfor %}
</table>
</body>
</html>