<!DOCTYPE html>
<html lang="en">
<head>
    <title>Войти для прохождени тестов</title>
</head>
<body>
<section id="login">
    <div class="container">
        <div class="row">
            <div class="col-xs-wrap">
                <h1>Войти для прохождения тестов</h1>

                {{ message }}

                <form method="POST">
                    <div class="form-group">
                        <label for="lg" class="sr-only">Логин</label>
                        <input type="text" placeholder="Логин" name="login" id="lg" class="form-control"
                               required="required">
                    </div>
                    <div class="form-group">
                        <label for="key" class="sr-only">Пароль</label>
                        <input type="password" placeholder="Пароль" name="password" id="key" class="form-control">
                    </div>
                    <input type="submit" id="btn-login" class="btn btn-success btn-lg btn-block" value="Войти">
                    <input type="checkbox" id="guest" name="is_guest" value="guest"/>
                    <label for="guest">Войти как гость</label>
                </form>
                <hr>
            </div>
        </div>
    </div>
</section>
</body>
</html>
